body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background: white;
  color: #C14463;
}

header {
  background: #0E788E;
  color: white;
  height: 250px;
  padding-top: 75px;

  // border-bottom: 1px solid #E32669;

  img {
    display: block;
    margin: 0 auto;
  }
}

.main {
  height: 300px;
  // background: url('../images/nest.png') no-repeat 20px -160px, url('../images/bird.png') no-repeat bottom right;
  p {
    text-align: center;
    font-size: 2em;
    margin: 100px;
  }
}

footer {
  background: #0E788E;
  color: white;
  font-size: 0.8em;
  padding: 4px;
  text-align: center;
}