<header>
  <h1 class="logo">Jujuca</h1>
  <nav>
    <ol>
      <li>
        <a href="http://loja.jujuca.com" class="store">loja</a>
      </li>
      <li>
        <a href="http://instagram.com/artejujuca" class="instagram">instagram</a>
      </li>
      <li>
        <a href="https://flickr.com/artejujuca" class="flickr">flickr</a>
      </li>
    </ol>
  </nav>
</header>

<main>
  <img src="images/juliana.jpg" class="juliana" alt="Juliana Comin">

  <strong>Olá!</strong>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, consectetur, aperiam ipsum sunt inventore voluptatibus eaque quia et nam similique ea temporibus consequuntur animi dolore omnis laudantium eos dolor repellat!</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, ullam quaerat molestiae delectus iure eum officiis dignissimos nemo cumque repellendus nihil a reprehenderit odio
  dolor incidunt aliquid quisquam ipsum commodi.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, ex, nobis, placeat dolorum ad ullam unde laboriosam tempora assumenda rerum dolores omnis accusantium ipsa cumque temporibus. Natus, nesciunt explicabo a.</p>
</main>

<footer>
  <a href="mailto:pedidos@jujuca.com">pedidos@jujuca.com</a>
</footer>
