<header>
  <h1 class="logo">Jujuca</h1>
  <nav>
    <ol>
      <li>
        <a href="http://loja.jujuca.com" class="store">loja</a>
      </li>
      <li>
        <a href="http://instagram.com/artejujuca" class="instagram">instagram</a>
      </li>
      <li>
        <a href="https://flickr.com/artejujuca" class="flickr">flickr</a>
      </li>
    </ol>
  </nav>
</header>

<main>
  <img src="images/juliana.jpg" class="juliana" alt="Juliana Comin">

  <strong>Olá!</strong>

  <p>Criar peças de artesanato para presentear as amigas foram os meus primeiros passos no caminha da arte feita a mão. Os presentes fizeram sucesso e as amigas passaram a fazer encomendas para presentear outras pessoas. E assim surgiu a loja Jujuca.
  </p>

  <p>Sempre gostei de artesanato, e a possibilidade de dar presentes diferentes, criativos, feitos a mão e com carinho, foi o que me motivou, e ainda motiva a criar.</p>

  <p>Se você procura uma peça diferente, feita a mão, com carinho e dedicação, fez a escolha certa.</p>

  <p>Caso você queira algo diferente que não encontrou na loja Jujuca, ou em quantidade maior, entre em contato que será um prazer poder atendê-los.</p>

  <p>Um abraço,</p>

  <p class="signature">Juliana Comin.</p>
</main>

<footer>
  <a href="mailto:pedidos@jujuca.com">pedidos@jujuca.com</a>
</footer>
